{{define "footer"}}
<footer class="relative pt-8 pb-6 text-xl">
    <div class="container mx-auto px-4">
      <hr class="my-6 border-gray-400" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-5/12 px-4 mx-auto text-center">
        <p>
            <strong>Want help?</strong> • <a class="text-blue-500" href="https://tnvmadhav.me/contact/" target="_blank" rel="noopener noreferrer">👋 Contact me</a>
        </p>
          <div class="text-sm text-gray-600 font-semibold py-1">
            <p class="text-center"> Copyright &copy; | All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
</footer>
{{end}}